a {
    text-decoration: none;
}

body {
    background-color: wheat;
}

* {
    font-family: 'Macondo', cursive;
    margin: 0;
    padding: 0;
}


/* ----------> HEADER <----------- */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: skyblue;
    width: 98%;
    box-shadow: 0 0 1em;
}

.nav_logo-container {
    display: flex;
    align-items: center;

}

.logo-container_image {
    width: 120px;
    margin-left: 2em;
}

.logo-container_tittle {
    font-size: 35px;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 2em;
    gap: 1rem;
    justify-content: space-between;
}

.menu_dato {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

.menu_dato:hover {

    text-decoration: none;
    text-shadow: 0 0 8px #FF0000;
    transition: 0.5s;
}

/* ----------> BODY <----------- */


.body-container {
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem;
    box-shadow: 0 0 1em;
}

.body_welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, rgba(148, 235, 200, 1) 0%, rgba(147, 250, 241, 1) 100%);
    width: 60%;
    gap: 2rem;
    padding: 5rem 0;
}

.welcome-tittle {
    font-size: 50px;
    margin: auto;
}

.welcome-p {
    padding: 2rem;
    text-align: center;
    font-size: 20px;
}

.welcome-btn {
    border-radius: 30px;
    padding: 0.5rem 1rem;
    font-size: 23px;
}

.welcomev-btn:hover {
    background: greenyellow;
    transition: 1s;
    cursor: pointer;
}

.body-form {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    width: 40%;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
}

.form-tittle {
    text-align: center;
    font-size: 30px;
}

.form-social {
    display: flex;
    justify-content: center;
    gap: 3rem;
    font-size: 30px;
}

.form-extra {
    text-align: center;
    color: #787878
}

.form-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 3rem;
    width: 70%;
}



.form-dato {
    margin-left: 1rem;
    font-size: 19px;
    display: inline;
    font-weight: bold;
    width: 90%;

}

.form-btn {
    margin: 3rem;
    border-radius: 30px;
    padding: 0.5rem 1rem;
    font-size: 23px;
}

.form-btn:hover {
    background: greenyellow;
    transition: 1s;
    cursor: pointer;
}


/* ----------> FOOTER <----------- */


.foter {
    background: #BAB6B6;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 2rem 2rem;
    padding: 0 2rem;
    box-shadow: 0 0 1em;
}


.partFooter {
    display: flex;
    flex-direction: column;
    padding: 0 10rem;
}

.partFooter-tittle {
    font-size: 30px;
    padding: 2rem 0;
    text-decoration: underline double gray;

}

.footer-social-media {
    display: flex;
    gap: 1rem;
    font-size: 30px;
    justify-content: center;

}

.footer-social-media a:hover {
    color: #ffff;
    transition: 0.5s;
}

.links {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 1rem;
    padding-bottom: 2rem;
}

.table {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center ;
    gap: 2rem;
    padding: 3rem 0;

}
.table-tittle{
    font-size: 40px;
    font-weight: bold;

    
}
.table_registro {
    border-collapse: collapse;
    border: 3px solid purple;
    font-size: 20px;
}


td {
    padding: 1rem 6rem;
    border: 3px solid purple;
}
th {
    padding: 1rem 6rem;
}
